
body{
  overflow: hidden;
}
.Background-Image {
  display: flex;
  justify-content: center;
  width: 110vw; 
  height: 110vh; 
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-size: cover; 
  background-position: center; 
  background-image: url('BackgroundImage2.jpeg'); 
  background-repeat: no-repeat; 
  filter: blur(3px); 
  z-index: -1;
}
.HeadLine-Image{
  background-color: white;                                                                                                                                                       
  height: 10vh;
  border-radius: 20px;
  width: 35vw;
  display: flex;
  justify-content: center;
  
}
.Motto{
  color: #333;
  justify-content: center;
  position: relative;
  bottom: 1.7vh;
  height: 0vh;
}
.Ersteller{
  color: #333;
  position: relative;
  bottom: 1.7vh;
  height: 0vh;
}
.HeadLine-Video{
  height: 40vw;
  position: relative;
  top: 7vh;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.Video-Container{
  display: flex;
  position: relative;
  bottom: 7vh;
  justify-content: center;
}
.Image-Container{
  align-items: center;
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.Background-Container{
  display: flex;
  justify-content: center;
  width: 100vw; 
  height: 100vh; 
}
.Background-Image2{
  background-color: #e07c41;
  position: absolute;
  display: table-column;
  justify-content: center;
  width: 45vw; 
  position: relative;
  right: 20px;
  bottom: 20px;
  margin: 0;
  padding: 0;
  height: 110vh; 
}

.Description {
  height: 50vh;
  position: relative;
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
  font-size: 1.5vh;
  position: relative;
  top: 70px;
  width: 14vw;
  line-height: 1.6;
  color: #333;
  text-align:le;
  margin: 40px;
}

.Description-Container{
  display: table-column;
}

.Button1{
  height: 5vh;
  background-color: #d86c30;
  width: 11vw;
  font-size: 1.5vh;
  border-radius: 12px;
  border:none;
  margin-left: 60px;
  margin-top: 17vh;
}
.Button1:hover{
  cursor: pointer;
}

.Quellen {
  display: block;
  margin-left: 40px;
  margin-top: 3vh;
  
}

